* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header .header-top {
  padding: 2px;
  background-color: #0282f9;
  color: white;
  font-size: 0.8em;
}
header .header-top .container-header-top {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
header .header-top .container-header-top .left-header-top {
  margin-right: 40px;
}
header .header-middle {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}
header .header-middle img {
  width: 70%;
}
header .header-middle ul {
  display: flex;
  justify-content: space-between;
  width: 72%;
  height: 100%;
}
header .header-middle ul li a {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
}
header .header-middle ul li a:hover, header .header-middle ul li a.active {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}
header .header-middle ul .fa-sort-down {
  margin-left: 2px;
  padding-bottom: 4px;
  font-size: 0.8em;
}
header .header-middle .search {
  position: relative;
  width: 10%;
}
header .header-middle .search:before {
  content: "\F002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 18px;
  position: absolute;
  top: 3px;
  right: 0;
}
header .header-middle input {
  width: 100%;
  height: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #0282f9;
  text-align: right;
  font-weight: bold;
  color: black;
  padding: 1em;
  padding-right: 20px;
}
header .header-bottom {
  height: 40vh;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
}

main {
  position: relative;
}
main .current {
  color: white;
  background-color: #0282f9;
  padding: 10px;
  position: absolute;
  left: 225px;
  top: -23px;
}
main .main-comics {
  background-color: black;
  padding: 40px 0 20px 0;
}
main .main-comics .main-container-top {
  width: 70%;
  margin: 0 auto;
}
main .main-comics .main-container-top .load {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
main .main-comics .main-container-top .load .load-container {
  color: white;
  padding: 10px;
  background-color: #0282f9;
  width: 18%;
  text-align: center;
}
main .main-comics .main-container-top ul {
  display: flex;
  flex-wrap: wrap;
}
main .main-comics .main-container-top ul li {
  width: calc(16.6666666667% - 40px);
  margin: 15px;
  color: white;
}
main .main-comics .main-container-top ul li:hover {
  cursor: pointer;
}
main .main-comics .main-container-top ul li .img-container {
  width: 100%;
  height: 140px;
  overflow: hidden;
}
main .main-comics .main-container-top ul li .img-container img {
  width: 100%;
}
main .main-comics .main-container-top ul li .series {
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.8em;
}
main .main-links {
  background-color: #0282f9;
  padding: 50px 0;
}
main .main-links .main-container-bottom {
  width: 70%;
  margin: 0 auto;
}
main .main-links .main-container-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-links .main-container-bottom ul li {
  width: 20%;
}
main .main-links .main-container-bottom ul li a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8em;
}
main .main-links .main-container-bottom ul li a #visa {
  width: 20%;
}
main .main-links .main-container-bottom ul li a #locator {
  width: 13%;
}
main .main-links .main-container-bottom ul li a img {
  width: 17%;
  margin-right: 20px;
}

.header-comic {
  height: 10vh;
  background-color: #0282f9;
}
.header-comic img {
  width: 10%;
  position: absolute;
  top: -187px;
  left: 240px;
}

.main-comic {
  padding: 30px 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.main-comic .main-comic-left {
  width: 70%;
  font-weight: 700;
  padding-right: 30px;
}
.main-comic .main-comic-left h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-comic .main-comic-left .price-container {
  display: flex;
  font-size: 0.8em;
}
.main-comic .main-comic-left .price-container .price {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: #55ba59;
  padding: 15px;
  color: #9eef85;
}
.main-comic .main-comic-left .price-container .price #dollar-price {
  color: white;
}
.main-comic .main-comic-left .price-container button {
  width: 30%;
  background-color: #55ba59;
  color: white;
  font-weight: 700;
}
.main-comic .main-comic-left .price-container button .fa-sort-down {
  vertical-align: text-top;
  font-size: 0.8em;
}
.main-comic .main-comic-left .description {
  font-size: 0.8em;
  line-height: 25px;
  color: #7c7c7c;
  margin-top: 20px;
}
.main-comic .main-comic-rigth {
  width: 30%;
}
.main-comic .main-comic-rigth .advertisment {
  text-align: right;
}
.main-comic .main-comic-rigth img {
  width: 100%;
}

.bibliography-container {
  background-color: #f6f6f6;
  border-bottom: 1px solid grey;
  padding-bottom: 100px;
}
.bibliography-container .bibliography {
  padding: 30px 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
}
.bibliography-container .bibliography .specs,
.bibliography-container .bibliography .talent-container {
  width: 50%;
}
.bibliography-container .bibliography .specs > div,
.bibliography-container .bibliography .talent-container > div {
  border-bottom: 1px solid grey;
}
.bibliography-container .bibliography .specs h3,
.bibliography-container .bibliography .talent-container h3 {
  margin-bottom: 30px;
}
.bibliography-container .bibliography .cont-flex-bibliography {
  padding: 15px 0;
  display: flex;
  font-size: 0.7em;
}
.bibliography-container .bibliography .cont-flex-bibliography .cont-flex-bibliography-l {
  width: 30%;
}
.bibliography-container .bibliography .cont-flex-bibliography .cont-flex-bibliography-r {
  width: 70%;
}
.bibliography-container .bibliography .cont-flex-bibliography .cont-flex-bibliography-r a {
  color: #0282f9;
}
.bibliography-container .bibliography .specs {
  padding-left: 40px;
}
.bibliography-container .bibliography .specs a {
  text-transform: uppercase;
}

.footer-comic {
  background-color: #f6f6f6;
}
.footer-comic .footer-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.footer-comic .footer-container > div {
  width: 25%;
  padding: 10px;
  border-left: 1px solid grey;
  display: flex;
  color: #7c7c7c;
  font-size: 0.7em;
  font-weight: 700;
}
.footer-comic .footer-container > div.last-border {
  border-right: 1px solid grey;
}
.footer-comic .footer-container > div .left-footer {
  width: 80%;
}
.footer-comic .footer-container > div .pad-links {
  background: url("/img/cta-icons.png") -3px 0px;
  width: 32px;
  height: 36px;
}
.footer-comic .footer-container > div .shop-links {
  background: url("/img/cta-icons.png") 36px 0px;
  width: 36px;
  height: 36px;
}
.footer-comic .footer-container > div .locator-links {
  background: url("/img/cta-icons.png") 74px 0px;
  width: 36px;
  height: 36px;
}
.footer-comic .footer-container > div .subscription-links {
  background: url("/img/cta-icons.png") 112px 0px;
  width: 43px;
  height: 36px;
}

.footer-top {
  background-image: url("../../img/footer-bg.jpg");
  height: 50vh;
  display: flex;
}
.footer-top .info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-top .info .contact {
  display: flex;
  justify-content: space-between;
  width: 52%;
}
.footer-top .info .contact h2 {
  color: white;
  margin: 10px 0;
  font-size: 1em;
}
.footer-top .info .contact ul li {
  margin-bottom: 5px;
}
.footer-top .info .contact ul li a {
  color: #7c7c7c;
  font-size: 0.8em;
  cursor: pointer;
}
.footer-top .info .contact ul li a:hover {
  color: white;
}
.footer-top .info p {
  margin-top: 20px;
  color: #7c7c7c;
  font-size: 0.8em;
  width: 76%;
  align-self: flex-end;
}
.footer-top .info p a {
  color: #0282f9;
}
.footer-top .logo {
  background-image: url("../../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50%;
}

.footer-bottom {
  height: 15vh;
  background-color: #303030;
}
.footer-bottom .container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-bottom .container button {
  cursor: pointer;
  padding: 10px;
  background-color: #303030;
  color: white;
  border: 1px solid #0282f9;
}
.footer-bottom .container button:hover {
  box-shadow: 5px 5px #0282f9;
}
.footer-bottom .container .follow-us {
  display: flex;
  align-items: center;
}
.footer-bottom .container .follow-us h3 {
  color: #0282f9;
}
.footer-bottom .container .follow-us ul {
  display: flex;
}
.footer-bottom .container .follow-us ul li {
  margin-left: 15px;
  cursor: pointer;
}
.footer-bottom .container .follow-us ul li:hover {
  filter: brightness(2);
}