.header-comic{
    height: 10vh;
    background-color: $blueColor;
    img{
        width: 10%;
        position: absolute;
        top: -187px;
        left: 240px;
    }
}
.main-comic{
    padding: 30px 0;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .main-comic-left{
        width: 70%;
        font-weight: 700;
        padding-right: 30px;
        h2{
            text-transform: uppercase;
            margin-bottom: 20px;
            
        }
        .price-container{
            display: flex;
            font-size: 0.8em;
            .price{
                width: 70%;
                display: flex;
                justify-content: space-between;
                background-color: $greenColor;
                padding: 15px;
                color: #9eef85;
                #dollar-price{
                    color: white;
                }
            }
            button{
                width: 30%;
                background-color: $greenColor;
                color: white;
                font-weight: 700;
                .fa-sort-down{
                    vertical-align: text-top;
                    font-size: 0.8em;
                }
            }
        }
        .description{
            font-size: 0.8em;
            line-height: 25px;
            color: $greyColor;
            margin-top: 20px;
        }
    }
    .main-comic-rigth{
        width: 30%;
        .advertisment{
            text-align: right;
        }
        img{
            width: 100%;
        }
    }
    
}
.bibliography-container{
    background-color: $ligthgrey;
    border-bottom: 1px solid grey;
    padding-bottom: 100px;
    .bibliography {
        padding: 30px 0;
        width: 60%;
        margin: 0 auto;
        display: flex;
        .specs,
        .talent-container{
            width: 50%;
            & > div{
                border-bottom: 1px solid grey;
            }
            h3{
                margin-bottom: 30px;
            }
            
        }
        .cont-flex-bibliography{
            padding: 15px 0;
            display: flex;
            font-size: 0.7em;
            .cont-flex-bibliography-l{
                width: 30%;
            }
            .cont-flex-bibliography-r{
                width: 70%;
                a{
                    color: $blueColor;
                }
            }
            
        }
        .specs{
            padding-left: 40px;
            a{
                text-transform: uppercase;
            }
        }
    }
}
.footer-comic{
    background-color: $ligthgrey;
    .footer-container{
        width: 60%;
        margin: 0 auto;
        display: flex;
        height: 100%;
        & > div{
            width:calc(100% / 4);
            padding: 10px;
            border-left: 1px solid grey;
            display: flex;
            color: $greyColor;
            font-size: 0.7em;
            font-weight: 700;
            &.last-border{
                border-right: 1px solid grey;
            }
            .left-footer{
                width: 80%;
            }
            .pad-links{
                background: url("/img/cta-icons.png") -3px 0px;
                    width: 32px;
                    height: 36px;
            }
            .shop-links{
                background: url("/img/cta-icons.png") 36px 0px;
                width: 36px;
                height: 36px;
            }
            .shop-links{
                background: url("/img/cta-icons.png") 36px 0px;
                width: 36px;
                height: 36px;
            }
            
        }
    }
}
