footer{
    background-image: url("../../img/footer-bg.jpg");
    height: 50vh;
    .info{
        background-image: url("../../img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }
}