header{
    .header-top{
        background-color: $blueColor;
        color: white;
        .container-header-top{
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            .left-header-top{
                margin-right: 40px;
            }
        }
    }
    .header-middle{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 13vh;
        img{
            width: 70%;
        }
        ul{
            justify-content: space-between;
        }
    }
}